.NavBar {
    background-color: #6c757d;
    border: 1px solid #343a40;
}

.Brand {
    font-size: 1.5rem;
    color: #f6950e !important;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.NavLink {
    padding: 5px;
}

.Active i {
    color:#343a40;
}